<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h2 class="pull-left" style="margin-top:0;margin-bottom:0;">Contacts</h2>
        <div class="pull-right pad-left-right">
          <button class="btn btn-success pull-right" [routerLink]="['new']">New Contact</button>
        </div>
      </div>
      <div class="panel-body">
        <cms-contact-item
        *ngFor="let contactEl of contacts; let i = index, let contact of contacts"
        [contact]="contactEl" [index]="i">
        </cms-contact-item>
      </div>
    </div>
  </div>
</div>
